<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Nessfit - Menu</title>

    <!-- Custom fonts for this template-->
    <link  rel="stylesheet" type="text/css" th:href="@{/vendor/fontawesome-free/css/all.min.css}">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" type="text/css"  href="static/css/sb-admin-2.css" th:href="@{/css/sb-admin-2.css}">

    <!-- Bootstrap core JavaScript-->
    <script type="text/javascript" th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script type="text/javascript" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script type="text/javascript" th:src="@{/js/sb-admin-2.min.js}"></script>

    <!-- Page level plugins -->
    <script type="text/javascript" th:src="@{/vendor/chart.js/Chart.min.js}"></script>

    <!-- Page level custom scripts -->
    <script type="text/javascript" th:src="@{/js/demo/chart-area-demo.js}"></script>
    <script type="text/javascript" th:src="@{/js/demo/chart-pie-demo.js}"></script>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/menu}">
            <div class="sidebar-brand-icon">
                <i class="fa fa-futbol"></i>
            </div>
            <div class="sidebar-brand-text mx-2">NESSFIT</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/menu}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Inicio</span></a>
        </li>

        <div sec:authorize="hasAuthority('ADMINISTRATIVO')">
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                ADMINISTRATIVO
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#admin2Menu"
                   aria-expanded="true" aria-controls="admin2Menu">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Gestionar</span>
                </a>
                <div id="admin2Menu" class="collapse" aria-labelledby="headingPages"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Arriendos:</h6>
                        <a class="collapse-item" th:href="@{/administrativo/administrar-solicitudes-arriendo}">Solicitudes de arriendo</a>

                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Clientes:</h6>
                        <a class="collapse-item" th:href="@{/administrativo/gestion-cliente}">Gestionar clientes</a>

                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Complejo:</h6>
                        <a class="collapse-item" th:href="@{/administrativo/gestion-complejo}">Gestionar Complejos</a>
                        <a class="collapse-item" th:href="@{/administrativo/ver-estadisticas}">Estadisticas</a>
                    </div>
                </div>
            </li>
        </div>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Buscar..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>


                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown arrow">
                        <a href="javascript:" class="nav-link dropdown-toggle"
                           id="navbarDropdown" data-toggle="dropdown">
                            <i class="fa fa-user fa-xl text-gray-600" aria-haspopup="true" aria-expanded="false"
                               th:text=" ${nombreUser}"></i>
                        </a>

                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" th:href="@{/perfil}">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Perfil
                            </a>
                            <a class="dropdown-item" th:href="@{/cambiar-contrasena}">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Cambiar Contraseña
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="login?logout=true" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Cerrar sesión
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <!-- Begin Page Content -->


            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Informacion de la solicitud</h1>

                </div>

                <!-- Content Row -->

                <div class="row">
                    <div class="col-md-12 col-sm-12 ">
                        <div class="x_panel">
                            <div class="x_content">
                                <form th:action="@{/administrativo/administrar-solicitudes-arriendo/r/{id} (id=${solicitud.id})}"
                                      method="post" id="demo-form2" data-parsley-validate
                                      class="user" th:object="${solicitud}">

                                    <div class="item form-group">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align"
                                               for="fechaPedido">Fecha pedido:
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input th:field="*{fechaEmision}" type="text" readonly=»readonly»
                                                   class="form-control ">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align"
                                               for="rut">ID:
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input th:field="*{Id}" type="text" readonly=»readonly»
                                                   class="form-control " th:errorclass="border-danger">
                                        </div>
                                    </div>
                                    <label class="col-form-label col-md-3 col-sm-3 label-align"
                                           for="nombreCDeportivo">Centro deportivo:
                                    </label>
                                    <div class="col-md-6 col-sm-6 ">
                                        <input placeholder="Cancha" type="text" readonly=»readonly»
                                               class="form-control ">
                                    </div>

                                    <label class="col-form-label col-md-3 col-sm-3 label-align"
                                           for="costoTotal">Costo total:
                                    </label>
                                    <div class="col-md-6 col-sm-6 ">
                                        <input placeholder="20000" type="text" readonly=»readonly»
                                               class="form-control " >
                                    </div>

                                    <label class="col-form-label col-md-3 col-sm-3 label-align"
                                           for="rut">Rut cliente:
                                    </label>
                                    <div class="col-md-6 col-sm-6 ">
                                        <input placeholder="208810332" type="text" readonly=»readonly»
                                               class="form-control ">
                                    </div>
                                    <label class="col-form-label col-md-3 col-sm-3 label-align"
                                           for="nombre">Nombre cliente:
                                    </label>
                                    <div class="col-md-6 col-sm-6 ">
                                        <input placeholder="joaquin pinto" type="text" readonly=»readonly»
                                               class="form-control ">
                                    </div>

                                    <hr size="4px" color="white"/>

                                    <div class="ln_solid">
                                        <div class="item form-group">
                                            <div class="col-md-6 col-sm-6">
                                                <a data-toggle="modal" data-target="#confirmarModal">
                                                    <button type="submit" class="btn-info btn-user btn-block">Confirmar</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- Modificar estado Modal-->
                                    <div class="modal fade" id="confirmarModal" tabindex="-1" role="dialog" aria-labelledby="Modal_confirmar"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="Modal_confirmar">Confirmar.</h5>
                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <i th:text=" '¿Está seguro que desea rechazar la solicitud? '"></i>
                                                </div>

                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                    <button class="btn btn-primary" type="submit">Rechazar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->

            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="Modal_cerrarsesion"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Modal_cerrarsesion">Seleccione.</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">¿Está seguro que desea cerrar la sesion?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" th:href="@{/logout}">Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>