<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Nessfit - Menu</title>

    <!-- Custom fonts for this template-->
    <link  rel="stylesheet" type="text/css" th:href="@{/vendor/fontawesome-free/css/all.min.css}">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" type="text/css"  href="static/css/sb-admin-2.css" th:href="@{/css/sb-admin-2.css}">

    <!-- Bootstrap core JavaScript-->
    <script type="text/javascript" th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script type="text/javascript" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script type="text/javascript" th:src="@{/js/sb-admin-2.min.js}"></script>

    <!-- Page level plugins -->
    <script type="text/javascript" th:src="@{/vendor/chart.js/Chart.min.js}"></script>

    <!-- Page level custom scripts -->
    <script type="text/javascript" th:src="@{/js/demo/chart-area-demo.js}"></script>
    <script type="text/javascript" th:src="@{/js/demo/chart-pie-demo.js}"></script>

</head>
<style>
    #chartdiv {
        width: 100%;
        height: 500px;
    }
</style>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/menu}">
            <div class="sidebar-brand-icon">
                <i class="fa fa-futbol"></i>
            </div>
            <div class="sidebar-brand-text mx-2">NESSFIT</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/menu}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Inicio</span></a>
        </li>


        <div sec:authorize="hasAuthority('ADMINISTRADOR')">
            <!-- Divider -->
            <hr class="sidebar-divider ">

            <!-- Heading -->
            <div class="sidebar-heading">
                ADMINISTRADOR
            </div>

            <!-- Nav Item - Menu para el administrador-->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#admin1Menu"
                   aria-expanded="true" aria-controls="admin1Menu">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Gestionar</span>
                </a>
                <div id="admin1Menu" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-1 collapse-inner rounded">
                        <h6 class="collapse-header">Administrativos:</h6>
                        <a class="collapse-item" th:href="@{/administrador/gestion-adm}">Gestionar administrativos</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Clientes:</h6>
                        <a class="collapse-item" href="#" >Gestionar Clientes</a>
                    </div>
                </div>
            </li>
        </div>

        <div sec:authorize="hasAuthority('ADMINISTRATIVO')">
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                ADMINISTRATIVO
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#admin2Menu"
                   aria-expanded="true" aria-controls="admin2Menu">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Gestionar</span>
                </a>
                <div id="admin2Menu" class="collapse" aria-labelledby="headingPages"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Arriendos:</h6>
                        <a class="collapse-item" th:href="@{/administrativo/administrar-solicitudes-arriendo}">Solicitudes de arriendo</a>

                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Clientes:</h6>
                        <a class="collapse-item" th:href="@{/administrativo/gestion-cliente}">Gestionar clientes</a>

                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Complejo:</h6>
                        <a class="collapse-item" th:href="@{/administrativo/gestion-complejo}">Gestionar Complejos</a>
                        <a class="collapse-item" th:href="@{/administrativo/ver-estadisticas}">Estadisticas</a>
                    </div>
                </div>
            </li>
        </div>

        <!-- Nav Item - Pages Collapse Menu CLIENTE-->

        <li class="nav-item">
            <div sec:authorize="hasAuthority('CLIENTE')">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Arrendar centro deportivo</span></a>
            </div>
        </li>
        <li class="nav-item">
            <div sec:authorize="hasAuthority('CLIENTE')">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Visualizar solicitudes</span></a>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar)
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>-->

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search
                <form
                    class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                            aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>-->

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Buscar..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>


                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown arrow">
                        <a href="javascript:" class="nav-link dropdown-toggle"
                           id="navbarDropdown" data-toggle="dropdown">
                            <div>
                            <i class="fa fa-user text-gray-800" aria-haspopup="false" aria-expanded="false">
                            </i>
                                <b class="text-gray-800 h6">[[${nombreUser}]]</b>
                            </div>
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" th:href="@{/perfil}">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Perfil
                            </a>
                            <a class="dropdown-item" th:href="@{/cambiar-contrasena}">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Cambiar Contraseña
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="login?logout=true" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Cerrar sesión
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Estadísticas</h1>

                </div>

                <!-- Content Row -->
                <div class="row" style="display: block;">
                    <div class="col-md-12 col-sm-12  ">
                        <div class="x_panel">
                            <div class="x_title">

                                <div class="clearfix"></div>
                                <!-- mostrar cuentaCancha -->
                            </div>

                            <hr size="8px" color="white" />
                            <div class="x_content">
                                <form method="get" th:action="@{/administrativo/ver-estadisticas}">
                                    <div class="row invoice-info">
                                        <div class="col-sm-5 invoice-col">
                                            <label class="form-label">Fecha Inicio:</label> <input
                                                class="form-control" type="date" name="inicio">
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-sm-5 invoice-col">
                                            <label class="form-label">Fecha Término:</label> <input
                                                class="form-control" type="date" name="fin">
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-sm-1 invoice-col">
                                            <label class="form-label"></label>
                                            <input type="submit" value="Enviar" class="form-control btn btn-success">
                                        </div>
                                    </div>
                                </form>
                                <!-- info row -->
                                <div class="row invoice-info">
                                    <div id="chartdiv"></div>

                                </div>
                                <hr>
                                <div class="clearfix"></div>

                                <!-- Table row -->
                                <h4>Días solicitados</h4>
                                <div class="row">
                                    <div class="  table">
                                        <table class="display" style = "width:100%">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>RUT Cliente</th>
                                                <th>Nombre Instalacion</th>
                                                <th>Fecha solicitud</th>
                                                <th>Estado</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!-- divider -->
                                            <tr th:if="${contarSolicitudes == 0 }">
                                                <th colspan="5" class="text-center">No hay solicitudes por mostrar.</th>
                                            </tr>
                                            <tr th:unless="${contarSolicitudes == 0}"
                                                th:each="solicitud : ${solicitudes}">
                                                <th th:text="${solicitud.Id}" scope="row">1</th>
                                                <td th:text="${solicitud.getUsuario().getRut()}">Mark</td>
                                                <td th:text="${solicitud.getInstalacion().getNombre()}">Otto</td>
                                                <td th:text="${solicitud.fechaEmision}">Otto</td>

                                                <td>
                                                    <a th:if="${solicitud.getEstado() == 0}">Pendiente</a>
                                                    <a th:if="${solicitud.getEstado() == 1}">Aceptado</a>
                                                    <a th:if="${solicitud.getEstado() == 2}">Rechazado</a>
                                                </td>

                                            </tr>

                                            </tbody>
                                        </table>

                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div>
                        </div>
                    </div>
                </div>

            <!-- End of Main Content -->

            <!-- Footer -->

            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="Modal_cerrarsesion"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Modal_cerrarsesion">Seleccione.</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">¿Está seguro que desea cerrar la sesion?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" th:href="@{/logout}">Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </div>
        <!-- Resources -->
        <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
        <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
        <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>


        <script th:inline="javascript">

            /*<![CDATA[*/

            let cuentaCancha = /*[[${cuentaCancha}]]*/
                let cuentaGimnasio = /*[[${cuentaGimnasio}]]*/
                let cuentaPiscina = /*[[${cuentaPiscina}]]*/
                let cuentaQuincho = /*[[${cuentaQuincho}]]*/
                let cuentaEstadio = /*[[${cuentaEstadio}]]*/

                /*]]>*/

                am5.ready(function() {

                    // Create root element
                    // https://www.amcharts.com/docs/v5/getting-started/#Root_element
                    var root = am5.Root.new("chartdiv");

                    // Set themes
                    // https://www.amcharts.com/docs/v5/concepts/themes/
                    root.setThemes([
                        am5themes_Animated.new(root)
                    ]);

                    // Create chart
                    // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/
                    var chart = root.container.children.push(
                        am5percent.PieChart.new(root, {
                            endAngle: 270
                        })
                    );

                    // Create series
                    // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Series
                    var series = chart.series.push(
                        am5percent.PieSeries.new(root, {
                            valueField: "value",
                            categoryField: "category",
                            endAngle: 270
                        })
                    );

                    series.states.create("hidden", {
                        endAngle: -90
                    });


                    // Set data
                    // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Setting_data
                    series.data.setAll([{
                        category: "Cancha",
                        value: cuentaCancha
                    }, {
                        category: "Gimnasio",
                        value: cuentaGimnasio,

                    }, {
                        category: "Piscina",
                        value: cuentaPiscina,

                    }, {
                        category: "Quincho",
                        value: cuentaQuincho,

                    }, {
                        category: "Estadio",
                        value: cuentaEstadio,

                    }]);

                    series.appear(10, 10);

                }); // end am5.ready()
        </script>


</html>